%svg-common {
	background: url("sprite.css-64c45e61.svg") no-repeat;
}

.svg-icon-castle {
	@extend %svg-common;
	background-position: 93.56374845869297% 47.59084791386272%;
}

.svg-icon-castle-dims {
	width: 110.5px;
	height: 120.5px;
}

.svg-icon-mickey-clock {
	@extend %svg-common;
	background-position: 61.237514188422246% 54.584748379129366%;
}

.svg-icon-mickey-clock-dims {
	width: 163.6px;
	height: 168.1px;
}

.svg-icon-mickey-theater {
	@extend %svg-common;
	background-position: 0 99.91692568522181%;
}

.svg-icon-mickey-theater-dims {
	width: 153.1px;
	height: 138.1px;
}

.svg-icon-pixie-card {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon-pixie-card-dims {
	width: 515.8px;
	height: 176.8px;
}

.svg-icon-shopping-bag {
	@extend %svg-common;
	background-position: 0 56.09243830783581%;
}

.svg-icon-shopping-bag-dims {
	width: 215.801px;
	height: 176.806px;
}

